<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Slack Integration</display-name>
    <listener>
     	<listener-class>
              com.ontometrics.integrations.jobs.WebContextJobStarter
         </listener-class>
    </listener>
    <servlet>
        <servlet-name>youTrackImageServlet</servlet-name>
        <servlet-class>com.ontometrics.integrations.youtrack.YouTrackImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>youTrackImageServlet</servlet-name>
        <url-pattern>/youtrack-image/*</url-pattern>
    </servlet-mapping>

</web-app>
